*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
}

.leftSidebar{
  width: 25%;
  background: #fafafa;
  padding: 32px;
}

.leftSidebar ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.leftSidebar ul li{
  padding: 0;
  margin: 0;
  cursor: pointer;
  padding: 12px;
  border-bottom: 1px solid #eee;
  text-transform: capitalize;
  transition: all ease-in 0.3s;
}

.leftSidebar ul li.active{
  background: orange;
}

.leftSidebar ul li:last-child{
  border-bottom: 0;
}

.gallery{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

.gallery > div{
  overflow: hidden;
  width: 33.33%;
  height: 270px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 4px solid #fff;
  box-sizing: border-box
}
.gallery > .fullImg{
  width: 100%;
  height: 540px;
}
.gallery .loadMore{
  width: 100%;
}

.gallery .loadMore div{
  text-align: center;
  max-height: 40px;
  width: 40%;
  margin: 20px auto;
  height: 40px;
  cursor: pointer; 
  line-height: 40px;
  border: 1px solid #eee;
}